{% load static %} {% block body %} {% include 'navigation.html' %}

<div class="bg-light py-3">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<img
					src="https://via.placeholder.com/1400x300/ededed/000000/?text=Hero image"
					alt=""
					class="img-fluid img-thumbnail mx-auto d-block"
				/>
			</div>
		</div>
	</div>
</div>

<div class="bg-body py-5">
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
				<div class="card shadow">
					<img
						src="https://via.placeholder.com/500x300/dddddd/000000/?text=image thum"
						class="card-img-top img-fluid"
						alt="employee thum"
					/>
					<div class="card-body">
						<h5 class="card-title">Jon Deo</h5>
						<p class="card-text">
							Some quick example text to build on the card title
							and make up the bulk of the card's content.
						</p>
						<a href="#" class="btn btn-outline-primary"
							><i class="fab fa-facebook"></i
						></a>
						<a href="#" class="btn btn-outline-primary"
							><i class="fab fa-twitter"></i
						></a>
						<a href="#" class="btn btn-outline-primary"
							><i class="fab fa-linkedin"></i
						></a>
						<a href="#" class="btn btn-outline-primary"
							><i class="fab fa-instagram"></i
						></a>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
				<div class="card shadow">
					<img
						src="https://via.placeholder.com/500x300/dddddd/000000/?text=image thum"
						class="card-img-top img-fluid"
						alt="employee thum"
					/>
					<div class="card-body">
						<h5 class="card-title">Jon Deo</h5>
						<p class="card-text">
							Some quick example text to build on the card title
							and make up the bulk of the card's content.
						</p>
						<a href="#" class="btn btn-outline-primary"
							><i class="fab fa-facebook"></i
						></a>
						<a href="#" class="btn btn-outline-primary"
							><i class="fab fa-twitter"></i
						></a>
						<a href="#" class="btn btn-outline-primary"
							><i class="fab fa-linkedin"></i
						></a>
						<a href="#" class="btn btn-outline-primary"
							><i class="fab fa-instagram"></i
						></a>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
				<div class="card shadow">
					<img
						src="https://via.placeholder.com/500x300/dddddd/000000/?text=image thum"
						class="card-img-top img-fluid"
						alt="employee thum"
					/>
					<div class="card-body">
						<h5 class="card-title">Jon Deo</h5>
						<p class="card-text">
							Some quick example text to build on the card title
							and make up the bulk of the card's content.
						</p>
						<a href="#" class="btn btn-outline-primary"
							><i class="fab fa-facebook"></i
						></a>
						<a href="#" class="btn btn-outline-primary"
							><i class="fab fa-twitter"></i
						></a>
						<a href="#" class="btn btn-outline-primary"
							><i class="fab fa-linkedin"></i
						></a>
						<a href="#" class="btn btn-outline-primary"
							><i class="fab fa-instagram"></i
						></a>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
				<div class="card shadow">
					<img
						src="https://via.placeholder.com/500x300/dddddd/000000/?text=image thum"
						class="card-img-top img-fluid"
						alt="employee thum"
					/>
					<div class="card-body">
						<h5 class="card-title">Jon Deo</h5>
						<p class="card-text">
							Some quick example text to build on the card title
							and make up the bulk of the card's content.
						</p>
						<a href="#" class="btn btn-outline-primary"
							><i class="fab fa-facebook"></i
						></a>
						<a href="#" class="btn btn-outline-primary"
							><i class="fab fa-twitter"></i
						></a>
						<a href="#" class="btn btn-outline-primary"
							><i class="fab fa-linkedin"></i
						></a>
						<a href="#" class="btn btn-outline-primary"
							><i class="fab fa-instagram"></i
						></a>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
				<div class="card shadow">
					<img
						src="https://via.placeholder.com/500x300/dddddd/000000/?text=image thum"
						class="card-img-top img-fluid"
						alt="employee thum"
					/>
					<div class="card-body">
						<h5 class="card-title">Jon Deo</h5>
						<p class="card-text">
							Some quick example text to build on the card title
							and make up the bulk of the card's content.
						</p>
						<a href="#" class="btn btn-outline-primary"
							><i class="fab fa-facebook"></i
						></a>
						<a href="#" class="btn btn-outline-primary"
							><i class="fab fa-twitter"></i
						></a>
						<a href="#" class="btn btn-outline-primary"
							><i class="fab fa-linkedin"></i
						></a>
						<a href="#" class="btn btn-outline-primary"
							><i class="fab fa-instagram"></i
						></a>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
				<div class="card shadow">
					<img
						src="https://via.placeholder.com/500x300/dddddd/000000/?text=image thum"
						class="card-img-top img-fluid"
						alt="employee thum"
					/>
					<div class="card-body">
						<h5 class="card-title">Jon Deo</h5>
						<p class="card-text">
							Some quick example text to build on the card title
							and make up the bulk of the card's content.
						</p>
						<a href="#" class="btn btn-outline-primary"
							><i class="fab fa-facebook"></i
						></a>
						<a href="#" class="btn btn-outline-primary"
							><i class="fab fa-twitter"></i
						></a>
						<a href="#" class="btn btn-outline-primary"
							><i class="fab fa-linkedin"></i
						></a>
						<a href="#" class="btn btn-outline-primary"
							><i class="fab fa-instagram"></i
						></a>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
				<div class="card shadow">
					<img
						src="https://via.placeholder.com/500x300/dddddd/000000/?text=image thum"
						class="card-img-top img-fluid"
						alt="employee thum"
					/>
					<div class="card-body">
						<h5 class="card-title">Jon Deo</h5>
						<p class="card-text">
							Some quick example text to build on the card title
							and make up the bulk of the card's content.
						</p>
						<a href="#" class="btn btn-outline-primary"
							><i class="fab fa-facebook"></i
						></a>
						<a href="#" class="btn btn-outline-primary"
							><i class="fab fa-twitter"></i
						></a>
						<a href="#" class="btn btn-outline-primary"
							><i class="fab fa-linkedin"></i
						></a>
						<a href="#" class="btn btn-outline-primary"
							><i class="fab fa-instagram"></i
						></a>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
				<div class="card shadow">
					<img
						src="https://via.placeholder.com/500x300/dddddd/000000/?text=image thum"
						class="card-img-top img-fluid"
						alt="employee thum"
					/>
					<div class="card-body">
						<h5 class="card-title">Jon Deo</h5>
						<p class="card-text">
							Some quick example text to build on the card title
							and make up the bulk of the card's content.
						</p>
						<a href="#" class="btn btn-outline-primary"
							><i class="fab fa-facebook"></i
						></a>
						<a href="#" class="btn btn-outline-primary"
							><i class="fab fa-twitter"></i
						></a>
						<a href="#" class="btn btn-outline-primary"
							><i class="fab fa-linkedin"></i
						></a>
						<a href="#" class="btn btn-outline-primary"
							><i class="fab fa-instagram"></i
						></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% include 'footer.html' %} {% endblock%}
